.box1 {
    height: 200px;
    background-color: aqua;
}
.box2 {
    height: 200px;
    background-color: firebrick;
}
.box3 {
    height: 200px;
    background-color: greenyellow;
}
.box4 {
    height: 200px;
    background-color: fuchsia;
}
.box5 {
    height: 200px;
    background-color: indigo;
}
.box6 {
    height: 200px;
    background-color: floralwhite;
}
.box7 {
    height: 200px;
    background-color: green;
}
.box8 {
    height: 200px;
    background-color: gray;
}
.box9 {
    height: 200px;
    background-color: palevioletred;
}
.box10 {
    height: 200px;
    background-color: hotpink;
}
.box11 {
    height: 200px;
    background-color: gainsboro;
}
.box12{
    height: 200px;
    background-color: black;
}